<footer class="flex-rw">
  <div id="footerContent">
    <div class="txtBlock">
      <h2>ABOUT</h2>
      <p>
        Simon Hoornaert, Lode Muylaert<br>
        New Media Design & Development I<br>
        Artevelde University College Ghent<br>
      </p>
      <div id="social">
        <a class="float-left" href="https://www.facebook.com/WTD-1904346949795710/" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
        <a class="float-left" href="https://twitter.com/WTD_Application" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
        <a class="float-left" href="https://www.instagram.com/wtd.whattodo/" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
      </div>   
    </div>
    <div class="txtBlock">
      <h2>NAVIGATIE</h2>
      <p>
        <a href='/sportuitstap.html' class="generic-anchor footer-list-anchor">Sport & Uitstap</a>
        <a href='/kunstliteratuur.html' class="generic-anchor footer-list-anchor">Kunst & Literatuur</a>
        <a href='/films.html' class="generic-anchor footer-list-anchor">Film</a>
        <a href='/about.html' class="generic-anchor footer-list-anchor">About</a>
        <a href='/contact.html' class="generic-anchor footer-list-anchor" target="_blank">Contact</a>
      </p>
    </div>
    <div class="txtBlock">
      <h2>ACCOUNT</h2>
      <p>
        <a href='login.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">Mijn account</a></li>
        <a href='registreer.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">Registreer</a></li>
      </p>
    </div>
  </div>
</footer>