<footer class="flex-rw">
  <div id="footerContent">
    <div class="txtBlock">
      <h2>ABOUT</h2>
      <p>
        Simon Hoornaert, Lode Muylaert<br>
        New Media Design & Development I<br>
        Artevelde University College Ghent<br>
      </p>
      <div id="social">
        <a class="float-left" href="https://nl.pinterest.com/lodemuylaert/" target="_blank" title="Pinterest" itemprop="significantLink"><i class="fa fa-pinterest"></i></a>
        <a class="float-left" href="https://www.facebook.com/lode.muylaert" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
        <a class="float-left" href="https://twitter.com/LodeMuylaert" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
        <a class="float-left" href="https://www.instagram.com/lodemuylaert/" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
      </div>   
    </div>
    <div class="txtBlock">
      <h2>NAVIGATIE</h2>
      <p>
        <a href='/sportuitstap.html' class="generic-anchor footer-list-anchor">Sport & Uitstap</a>
        <a href='/kunstliteratuur.html' class="generic-anchor footer-list-anchor">Kunst & Literatuur</a>
        <a href='/films.html' class="generic-anchor footer-list-anchor">Films</a>
        <a href='/about.html' class="generic-anchor footer-list-anchor">About</a>
        <a href='/contact.html' class="generic-anchor footer-list-anchor" target="_blank">Contact</a>
        <a href='/privacy.html' class="generic-anchor footer-list-anchor" target="_blank">Privacy</a>
      </p>
    </div>
    <div class="txtBlock">
      <h2>HELP</h2>
      <p>
        <a href='/faq.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
        <a href='/shop/store-locator' class="generic-anchor footer-list-anchor" itemprop="significantLink">Mijn account</a></li>
        <a href='/shop/user-registration?URL=' class="generic-anchor footer-list-anchor" itemprop="significantLink">Favorieten</a></li>
      </p>
    </div>
  </div>
</footer>
<!-- <footer class="flex-rw">
  
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">Over WTD</h4></li>
    <li><a href='/about.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">About</a></li>
    <li><a href='/contact.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">Contact</a></li>
    <li><a href='/contact.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">Fouten melden</a></li>

  </ul>
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">Categoriën</h4></li>


    <li><a href='/sportuitstap.html' class="generic-anchor footer-list-anchor">Sport & Uitstap</a></li>
    <li><a href='/kunstliteratuur.html' class="generic-anchor footer-list-anchor">Kunst & Literatuur</a></li>
    <li><a href='/films.html' class="generic-anchor footer-list-anchor">Films</a></li>
    <li><a href='/about.html' class="generic-anchor footer-list-anchor">About</a></li>
    <li><a href='/contact.html' class="generic-anchor footer-list-anchor" target="_blank">Contact</a></li>
    <li><a href='/privacy.html' class="generic-anchor footer-list-anchor" target="_blank">Privacy</a></li>
  </ul>
  <ul class="footer-list-top">
    <li id='help'>
      <h4 class="footer-list-header">Help mij</h4></li>
    <li><a href='/contact.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">Contact</a></li>
    <li><a href='/faq.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
    <li id='find-a-store'><a href='/shop/store-locator' class="generic-anchor footer-list-anchor" itemprop="significantLink">Mijn account</a></li>
    <li id='user-registration'><a href='/shop/user-registration?URL=' class="generic-anchor footer-list-anchor" itemprop="significantLink">Favorieten</a></li>
    
  </ul>
  <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-connect">
      What <span class="footer-social-small">To</span> Do
      </span>
      <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="https://nl.pinterest.com/lodemuylaert/" class="generic-anchor" target="_blank" title="Pinterest" itemprop="significantLink"><i class="fa fa-pinterest"></i></a>
      <a href="https://www.facebook.com/lode.muylaert" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/LodeMuylaert" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
      <a href="https://www.instagram.com/lodemuylaert/" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>      
      </span>
  </section>
  <section class="footer-bottom-section flex-rw">
<div class="footer-bottom-wrapper">   

    <i class="fa fa-copyright" role="copyright"> 
    </i> WTD in <address class="footer-address" role="company address">Ghent</address><span class="footer-bottom-rights"> - All Rights Reserved - </span>
</div>
   
  </section>
</footer> -->