<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
<script src="http://cryptojs.altervista.org/api/functions_cryptography.js"></script>

<script src="{{ 'js/leaflet-routing-machine.js' | site.baseurl }}"></script>
<script src="{{ 'js/utils.js' | site.baseurl }}"></script>
<script src="{{ 'js/weather_widget.js' | site.baseurl }}"></script>
<script src="{{ 'js/main.js' | site.baseurl }}"></script>
