<!DOCTYPE html>
<html>
    {% include components/head.html %}
    <body>
        <header>
			<div class="container">
				<span class="side-menu" onclick="openNav()">&#9776</span>
				<div id="mySidenav" class="sidenav">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					<ul id="navsidelogin">
					{% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
						{% for p in navigation_pages %}
							{% if p.navigation_weight %}
								<li>
									<a href="{{ p.url }}#disqus_thread" {% if p.url == page.url %}class="active"{% endif %}>
										{{ p.title }}
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>				
				<nav class="main-nav">
					<ul id="navheadlogin">
						{% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
						{% for p in navigation_pages %}
							{% if p.navigation_weight %}
								<li>
									<a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
										{{ p.title }}
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</nav>
				<h1><a class="title" href="/"><strong>WT<span>D</span>?</strong></a></h1>
			</div>
		</header>
        <main id="main" role="main">
        {{ content }}
        </main>   
          
			{% include components/footer.html %}
            {% include components/scripts.html %}			
       
    </body>
</html>