// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: titel;
    src: url(fonts/reis.otf);
}

body,header h1 a{
  font-family: $basetext;
}

header h1 a,.weather-title, .front-title, p.post-hero{
  font-family: titel, "Source Sans Pro";
}
